<!DOCTYPE html>
<html lang="zh-CN">
<head>
  	<meta charset="utf-8">
	<title>+1s</title>
	<meta name="viewport" content="width=device-width, initial-scale=0">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
</head>
<body>
    <div class="row" style="margin-top: 30px; margin-left: 20px;">
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">rinetd.conf</div>
                <div class="card-body">
                <!-- <h4 class="card-title">Primary card title</h4> -->
                <p class="card-text" style="white-space: pre-line;">{{ rinetd }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-success mb-3" style="max-width: 20rem;">
                <div class="card-header">netstat</div>
                <div class="card-body">
                <!-- <h4 class="card-title">Success card title</h4> -->
                <p class="card-text" style="white-space: pre-line;">{{ netstat }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">firewalld</div>
                <div class="card-body">
                <!-- <h4 class="card-title">Danger card title</h4> -->
                <p class="card-text" style="white-space: pre-line;">{{ firewall }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px; margin-left: 20px;">
        <div class="col-lg-1">
            <button type="button" class="btn btn-outline-primary" id='shit' onclick="shit()">+1s</button>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-outline-primary" id='shit' onclick="location.href='/logs'">View logs</button>
        </div>
        <div class="col-lg-9">
            <div class="progress" style="margin-top: 15px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" id='fuck'></div>
            </div>
        </div>
    </div>

    <script>
        function shit() {
            $("#fuck").css("width","100%");
            $("#shit").attr("disabled",true);
            $.ajax({
                url: "/",
                method: 'POST',
                dataType: 'text',
                success:function(result){
                    if (result == '1')
                        location.reload();
                    else
                        alert("命令执行出错");                                                                     
                },
                error:function(xhr){
                    alert("错误提示： " + xhr.status + " " + xhr.statusText);
                }
            });   
        }
    </script>

</body>
</html>